name: Build macOS

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies
        run: brew bundle

      - name: Check Zig version
        run: zig version

      - name: Build
        run: zig build

      - name: Build (Release)
        run: zig build -Doptimize=ReleaseFast

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: grincel-macos
          path: zig-out/bin/grincel
